<section id="Education" class="row card-container" ><!--EDUCACION-->
    <div class="card bg-transparent">
        <div class="card-body">
            <app-manage-buttons *ngIf="is_login" class="pRelative addBtn" [button_add]="true" [modal_id_add]="'educationModal'"></app-manage-buttons>
            <h2 class="card-title">Educación</h2>
            <div class="mt-4 edu_list"  #childContainer><ng-template appDynamicComponent></ng-template></div>
        </div>
        <app-form-education  *ngIf="is_login" ></app-form-education>
    </div>
</section>