<div class="skilllist card bg-transparent mb-4" >
    <app-manage-buttons  *ngIf="is_login"  class="pRelative" [button_add]="true" [modal_id_add]="type+''+category+'skillModal'"></app-manage-buttons>
    <h4>{{category}}</h4>
    <ul class="mt-2"  #childContainer><ng-template appDynamicComponent></ng-template></ul>
</div>
<app-form-skill  *ngIf="is_login" 
    [reloadHTML]="reloadHTML"
    [modalId]="type+''+category+'skillModal'"
    [modalTitle]="'Añadir Entrada'"
    [type]="type"
    [category]="category">
</app-form-skill>