<div class="edu_item">
    <div class="row" style="margin:0;">
        <app-manage-buttons *ngIf="is_login" class="pRelative"
            [button_delete]="true"
            [button_edit]="true"
            [id]="id"
            [onClickDelete]="delete"
            [modal_id_edit]="'educationModal_'+id">
        </app-manage-buttons>
        <div class="col-4 col-xl-2"><div class="bg-img img-fluid " [style]="'background-image:url(\''+img_icon+'\')'"></div></div>
        <div class="col-8 col-xl-10 ">
            <h3 class="card-subtitle">{{title}}</h3>
            <p class="card-text">{{description}}</p>
            <p class="card-text"><small class="text-muted">{{period}}</small></p>
        </div>
    </div>
    <app-form-education *ngIf="is_login"
        [modalId]="'educationModal_'+id"
        [modalTitle]="'Editar Entrada'"
        [entryId]="id"
        [defaultTitle]="title"
        [defaultDescription]="description"
        [defaultPeriod]="period"
        [defaultImgUrl]="img_icon">
    </app-form-education>
</div>
