<div class="modal fade" id="sigoutModal" tabindex="-1" aria-labelledby="sigoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="sigoutModalLabel">Logout</h1>
          <!--button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button-->
        </div>
        <div class="modal-body">
            <p class="text-center w-responsive mx-auto mb-3">¿Seguro quiere cerrar sesión?</p>
            <form> 
                <!-- Submit -->
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="button button-full button-cancel" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    </div>
                    <div class="col-sm-8">
                        <button type="button" class="button button-full btnsing" data-bs-dismiss="modal" aria-label="Logout" (click)="logout()">Logout</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>