<section class="row" id="main" [ngStyle]="{ 'min-height': getHeight() + 'px'}">
    <div class="col-sm-12 col-lg-7">
            <p class="medium">Soy <span class="colortext">{{data.name}} {{data.lastname}}</span></p>
            <p class="big">{{data.title}}</p>
            <p class="desc">Echa un vistazo...</p>
     </div>
    <div class="col-sm-0 col-lg-2">
        <!--img [src]="'../../assets/img/'+data.img_profile" class="img-fluid rounded" alt="profile picture"-->
    </div>
    <div class="col-sm-12 col-lg-3">
        <div class="argprog_logo"></div>
        <b class="YoProgramo">#YoProgramo</b>
    </div>
</section>